rotate      CURSOR "rotate.cur"
setorigin   CURSOR "setorigin.cur"
setscale    CURSOR "setscale.cur"
colorpicker CURSOR "colorpicker.cur"

// setpoint    CURSOR "setpoint.cur"
// setline     CURSOR "setline.cur"
// setspline   CURSOR "setspline.cur"

// Ship        ICON   "Images\\Ship.ico"
// smallcross  CURSOR "Images\\smallcross.cur"
