colorpicker CURSOR "Images\\colorpicker.cur"
rotate      CURSOR "Images\\rotate.cur"
setline     CURSOR "Images\\setline.cur"
setorigin   CURSOR "Images\\setorigin.cur"
setpoint    CURSOR "Images\\setpoint.cur"
setscale    CURSOR "Images\\setscale.cur"
setspline   CURSOR "Images\\setspline.cur"

// FreeShip    ICON   "Images\\FreeShip.ico"

// smallcross  CURSOR "Images\\smallcross.cur"
